.bouton-menu-principal {
    -fx-background-image: url("../images/logo.png");
    -fx-background-size: cover; /* Ajustez la taille selon vos besoins */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-retour {
    -fx-background-image: url("../images/flecheDeRetour.png");
    -fx-background-size: cover; /* Ajustez la taille selon vos besoins */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 
}